@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

:root{
    --cor01:#fdfaf7;
    --cor02:#c8b6a8;
    --cor03:#473221;
    --cor04:white;
    --cor05:black;
}











